canvas{
  position: fixed;
  top: 0;
  left: 0;
}

:root{
  --neon-pink: hsl(317 100% 54%);
  --neon-white: hsl(255 100% 100%);
  max-width: 100%;
  font-size: 2rem;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
  overflow-x: hidden;
}

main{
  margin: 0px, auto;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  position: absolute;
  color: white;
  width: 100vw;
  padding: 0%;
  
}

.project_link{
  font-size: 0.75em;
  color: var(--neon-pink);
  border: 3px solid var(--neon-pink);
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0 0 3em var(--neon-pink);
  box-shadow: 0px 0px 5px var(--neon-pink);

  
}

.project_link:hover{
  animation: 2500ms glow-neon infinite; 

}

@keyframes glow-neon{
  0%{
    text-shadow: 0 0 2em var(--neon-pink);
  
    box-shadow: 0px 0px 5px var(--neon-pink);
  }
  10%{
    text-shadow: 0 0 1.5em var(--neon-pink);
  
    box-shadow: 0px 0px 7px var(--neon-pink);
  }
  20%{
    text-shadow: 0 0 1em var(--neon-pink);
  
    box-shadow: 0px 0px 10px var(--neon-pink);
  }
  30%{
    text-shadow: 0 0 0.75em var(--neon-pink);
  
    box-shadow: 0px 0px 11px var(--neon-pink);
  }
  
  35%{
    text-shadow: 0 0 0.5em var(--neon-pink);
  
    box-shadow: 0px 0px 12.5px var(--neon-pink);
  }
  
  40%{
    text-shadow: 0 0 0.4em var(--neon-pink);
  
    box-shadow: 0px 0px 15px var(--neon-pink);
  }

  45%{
    text-shadow: 0 0 0.3em var(--neon-pink);
  
    box-shadow: 0px 0px 17.5px var(--neon-pink);
  }
  


  50%{
    text-shadow: 0 0 0.2em var(--neon-pink);
  
    box-shadow: 0px 0px 20px var(--neon-pink);
  }

  55%{
    text-shadow: 0 0 0.1em var(--neon-pink);
  
    box-shadow: 0px 0px 17.5px var(--neon-pink);
  }
  60%{
    text-shadow: 0 0 0.2em var(--neon-pink);
  
    box-shadow: 0px 0px 15px var(--neon-pink);
  }

  65%{
    text-shadow: 0 0 0.3em var(--neon-pink);
  
    box-shadow: 0px 0px 12.5px var(--neon-pink);
  }

  65%{
    text-shadow: 0 0 0.5em var(--neon-pink);
  
    box-shadow: 0px 0px 10px var(--neon-pink);
  }
  75%{
    text-shadow: 0 0 0.6em var(--neon-pink);
  
    box-shadow: 0px 0px 9px var(--neon-pink);
  }

  80%{
    text-shadow: 0 0 0.9em var(--neon-pink);
  
    box-shadow: 0px 0px 8px var(--neon-pink);
  }

  85%{
    text-shadow: 0 0 1.5em var(--neon-pink);
  
    box-shadow: 0px 0px 7px var(--neon-pink);
  }
  90%{
    text-shadow: 0 0 2em var(--neon-pink);
  
    box-shadow: 0px 0px 6px var(--neon-pink);
  }
  100%{
    text-shadow: 0 0 3em var(--neon-pink);
  
    box-shadow: 0px 0px 5px var(--neon-pink);
  }
}

header{
  margin: 0;
  margin-top: 25%;
  grid-column: 6/ span 8;
  padding: 10px;
  align-self:center;
  justify-self: center;
  
}

.section{
  
  margin: 0;
  grid-column: 1/ -1;
  padding: 30px;
  padding-bottom: 100px;
  background-color: rgba(0,0,0,0.5);
  margin-top: 30%;
  display: flex;


}

.title{
  align-self: center;
}

#head{
  display: block;
}

#header{
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px white;
  padding: 20px;
  display:inline;
  z-index: -1;
  border-radius: 10px;

}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes image_grow {
  0%{
    width: 50%;
  }
  10%{
    width: 55%;
  }
  20%{
    width: 60%;
  }
  30%{
    width: 65%;
  }
  40%{
    width: 70%;
  }
  50%{
    width: 75%;
  }
  60%{
    width: 80%;
  }
  70%{
    width: 86%;
  }
  80%{
    width: 90%;
  }
  90%{
    width: 92%;
  }
  100%{
    width: 95%;
    animation-play-state: paused;
  }
}
#giraffe, #red-giraffe, #grey-giraffe{
  width: 70%;
  align-self: center;
  justify-self: center;

}


p{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
}

#collapse{
  display: none;
}


#face{
  margin-right: 2.5%;
  align-self: flex-start;
  margin-left: 2.5%;
  
  align-self: center;
  box-shadow: 0px 0px 50px pink;
  width: 40vw;
  border-radius: 25px;

}

.content{
  justify-self: flex-end;
  background-color: transparent;
  
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 50px;
}

.img1, .img2, .img3{
  width: 30px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;

}
.img1:hover, .img2:hover, .img3:hover{

  animation: popup 750ms ease-in infinite;

  
}

@keyframes popup {
  0%{
    background: linear-gradient(45deg, black, black, black);
  
  }

  5%{
    background: linear-gradient(45deg,#bfbfbf,black, black, black, black, black, black, black, black, black, black, black, black);
  }

  10%{
    background: linear-gradient(45deg, white,#bfbfbf,black, black, black, black, black, black, black, black, black, black, black);
  
  }
  15%{
    background: linear-gradient(45deg,#bfbfbf, white,#bfbfbf,black, black, black, black, black,black, black, black, black, black);
  
  }
  20%{
    background: linear-gradient(45deg,black,#bfbfbf, white,#bfbfbf, black, black, black, black, black, black, black, black, black);
  
  }

  25%{
    background: linear-gradient(45deg,black,black, #bfbfbf, white,#bfbfbf, black,black, black,  black, black, black , black, black);
  
  }

  35%{
    background: linear-gradient(45deg,black,black,black, #bfbfbf, white,#bfbfbf,black, black,  black, black, black, black, black);
  
  }
  45%{
    background: linear-gradient(45deg,black,black, black, black, #bfbfbf, white,#bfbfbf,black, black,  black, black, black, black);
  
  }
  50%{
    background: linear-gradient(45deg, black,black, black,black, black,#bfbfbf, white,#bfbfbf, black, black, black, black, black);
    
  }
  55%{
    background: linear-gradient(45deg, black, black,black, black, black, black, #bfbfbf, white,#bfbfbf, black, black, black, black);
  }
  65%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,#bfbfbf, white,#bfbfbf, black, black, black);
  }
  75%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,black, #bfbfbf, white,#bfbfbf, black, black);
  }
  80%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,black, #bfbfbf, white,#bfbfbf, black, black);
  }

  85%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,black, black, #bfbfbf, white,#bfbfbf, black);
  }
  90%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,black, black, black, #bfbfbf, white,#bfbfbf);
  }
  95%{
    background: linear-gradient(45deg, black, black,black, black, black, black, black,black,black, black, black, black,  #bfbfbf);
  }
  100%{
    background: linear-gradient(45deg, black, black);
  }
 
 
}

.collapse-p1{
  display: none;
}

#crud-view{
  display:none;
}


.media-nav{
  margin-top: 20px;
  padding: 0;
  
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  grid-column: 1 / span 17;
}

.full-grid{
  margin-top: 0%;
  grid-column: 1/ span 18;
  background-color: rgba(0,0,0,0.5);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.left-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/ span 8;
  padding-left: 2.5%;
}

.right-grid{
  grid-column: 9 / span 16;
}

.img{
  margin: 10px;
  border-radius: 10px;
  width: 90%;
}

#tic-view, #java-rules{
  display: none;
}

#projects{
  grid-column: 7/ span 16;
  align-self: center;
  

}
a{
  text-decoration: none;
  display: inline;
  color: white;
}
#resume{
  
  display: inline;
  margin-top: 50px;
  grid-column: 9 / span 10;
  list-style-type: none;
  text-decoration: none;
  color: white;
  
  
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes glow{
  0%{
    box-shadow: 0 0 2px white;
  }
  5%{
    box-shadow: 0 0 2.5px white;
  }
  10%{
    box-shadow: 0 0 3px white;
  }
  15%{
    box-shadow: 0 0 5px white;
  }
  20%{
    box-shadow: 0 0 8px white;
  }
  25%{
    box-shadow: 0 0 10px white;
  }
  30%{
    box-shadow: 0 0 12.5px white;
  }
  35%{
    box-shadow: 0 0 15px white;
  }
  40%{
    box-shadow: 0 0 17.5px white;
  }
  50%{
    box-shadow: 0 0 20px white;
  }
  60%{
    box-shadow: 0 0 17.5px white;
  }
  65%{
    box-shadow: 0 0 15px white;
  }
  70%{
    box-shadow: 0 0 12.5px white;
  }
  75%{
    box-shadow: 0 0 10px white;
  }
  80%{
    box-shadow: 0 0 8px white;
  }
  85%{
    box-shadow: 0 0 5px white;
  }
  90%{
    box-shadow: 0 0 3px white;
  }
  95%{
    box-shadow: 0 0 2.5px white;
  }
  100%{
    box-shadow: 0 0 2px white;
  }
}
#resume-button{
  display: inline;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 2px white;
  justify-self: center;
  
}



#resume-button:hover{
  color: white;
  animation: glow 2000ms infinite;
}

.expand{
  align-self: center;
  margin-top: 0px;
  padding: 10px;
  font-size: 1vw;
  
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  background: transparent;
  
}

.expand:hover{
  animation: leftrightblue 200ms ease 1;
  background-color: #7649fe;
}

#cpp{
  display: none;
}

@keyframes leftrightblue {
  0%{
    background-color: transparent;
    background: linear-gradient(to right, #7649fe, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent,transparent, transparent, transparent, transparent, transparent,transparent, transparent, transparent, transparent, transparent #7649fe);
  }
  10%{
   
    background: linear-gradient(to right #7649fe, #7649fe, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent,transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe);
  }
  20%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, transparent,transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe);
  }
  30%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe,transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  40%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  50%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  60%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  70%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, transparent, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  80%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, transparent, transparent, #7649fe, #7649fe, #7649fe,#7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  90%{
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, transparent, #7649fe, #7649fe, #7649fe,#7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
  100%{
    animation-play-state: paused;
    background: linear-gradient(to right, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe,#7649fe,#7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe, #7649fe);
  }
}